 @{
    ViewData["Title"] = "Personal";
}

<div class="p-3 mb-2 bg-primary text-white">VICTOR RICARDO ALVAREZ SARAVIA. </div>
<div class="accordion" id="accordionExample">

  <br>
  <ul class="list-group">
  <li class="list-group-item">GENERO: Masculino </li>
  <li class="list-group-item">ESTADO CIVIL: Soltero</li>
  <li class="list-group-item">DIRECCION: B EL CALVARIO CHAPELTIQUE SAN MIGUEL</li>
  <li class="list-group-item">FECHA DE NACIMIENTO: 01/02/2001</li>
  <li class="list-group-item">DEPARTAMENTO DE NACIMIENTO: San miguel </li>
   <li class="list-group-item">MUNICIPIO DE NACIMIENTO: San miguel </li>
    <li class="list-group-item">PAIS: EL Salvador </li>
</ul>
 <br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Estudios 
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <br>
        <strong>CENTRO ESCOLAR ELISEO HENRIQUE 2015 </strong>
        <br>
        <br>
         <strong>INSTITUTO NACIONAL JOAQUIN ERNESTO CARDERNAS 2018 </strong>
         <br>
         <br>
         <strong>ESTUDIANTE ACTUAL EN LA UNIVERSIDA GERARDO BARRIOS </strong>
         <br>
         <br>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Deportes
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <br>
        <strong>Futbol</strong> 
        <br>
        <br>
         <strong>BASQUETBOL</strong> 
         <br> 
         <br>
          <strong>SKATEBOARDING</strong>
          <br>
          <br> 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Sobre mi
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <br> 
         Soy estudiante de la carrera de ingenieria, tengo 20 años de edad, trabajo como edictor de video para un creador de contenido, me gusta mucho los deportes y la tegnologia
        <strong></strong> 
      </div>
    </div>
  </div>
</div>




